html body.folioStyleL1FontSize155px p, body.folioStyleL1FontSize155px p { font-size: 15.5px !important; }
html body.folioStyleL2FontSize155px td, body.folioStyleL2FontSize155px td { font-size: 15.5px !important; }
html body.folioStyleL3FontSize155px span, body.folioStyleL3FontSize155px span { font-size: 15.5px !important; }
html body.folioStyleL4FontSize155px , body.folioStyleL4FontSize155px { font-size: 15.5px !important; }
html body.folioStyleL1FontSize17px p, body.folioStyleL1FontSize17px p { font-size: 17px !important; }
html body.folioStyleL2FontSize17px td, body.folioStyleL2FontSize17px td { font-size: 17px !important; }
html body.folioStyleL3FontSize17px span, body.folioStyleL3FontSize17px span { font-size: 17px !important; }
html body.folioStyleL4FontSize17px , body.folioStyleL4FontSize17px { font-size: 17px !important; }
html body.folioStyleL1FontSize185px p, body.folioStyleL1FontSize185px p { font-size: 18.5px !important; }
html body.folioStyleL2FontSize185px td, body.folioStyleL2FontSize185px td { font-size: 18.5px !important; }
html body.folioStyleL3FontSize185px span, body.folioStyleL3FontSize185px span { font-size: 18.5px !important; }
html body.folioStyleL4FontSize185px , body.folioStyleL4FontSize185px { font-size: 18.5px !important; }
html body.folioStyleL1FontSize20px p, body.folioStyleL1FontSize20px p { font-size: 20px !important; }
html body.folioStyleL2FontSize20px td, body.folioStyleL2FontSize20px td { font-size: 20px !important; }
html body.folioStyleL3FontSize20px span, body.folioStyleL3FontSize20px span { font-size: 20px !important; }
html body.folioStyleL4FontSize20px , body.folioStyleL4FontSize20px { font-size: 20px !important; }
html body.folioStyleL1FontSize22px p, body.folioStyleL1FontSize22px p { font-size: 22px !important; }
html body.folioStyleL2FontSize22px td, body.folioStyleL2FontSize22px td { font-size: 22px !important; }
html body.folioStyleL3FontSize22px span, body.folioStyleL3FontSize22px span { font-size: 22px !important; }
html body.folioStyleL4FontSize22px , body.folioStyleL4FontSize22px { font-size: 22px !important; }
html body.folioStyleL1FontSize24px p, body.folioStyleL1FontSize24px p { font-size: 24px !important; }
html body.folioStyleL2FontSize24px td, body.folioStyleL2FontSize24px td { font-size: 24px !important; }
html body.folioStyleL3FontSize24px span, body.folioStyleL3FontSize24px span { font-size: 24px !important; }
html body.folioStyleL4FontSize24px , body.folioStyleL4FontSize24px { font-size: 24px !important; }
html body.folioStyleL1FontSize26px p, body.folioStyleL1FontSize26px p { font-size: 26px !important; }
html body.folioStyleL2FontSize26px td, body.folioStyleL2FontSize26px td { font-size: 26px !important; }
html body.folioStyleL3FontSize26px span, body.folioStyleL3FontSize26px span { font-size: 26px !important; }
html body.folioStyleL4FontSize26px , body.folioStyleL4FontSize26px { font-size: 26px !important; }
html body.folioStyleL1FontSize28px p, body.folioStyleL1FontSize28px p { font-size: 28px !important; }
html body.folioStyleL2FontSize28px td, body.folioStyleL2FontSize28px td { font-size: 28px !important; }
html body.folioStyleL3FontSize28px span, body.folioStyleL3FontSize28px span { font-size: 28px !important; }
html body.folioStyleL4FontSize28px , body.folioStyleL4FontSize28px { font-size: 28px !important; }
html body.folioStyleL1FontSize305px p, body.folioStyleL1FontSize305px p { font-size: 30.5px !important; }
html body.folioStyleL2FontSize305px td, body.folioStyleL2FontSize305px td { font-size: 30.5px !important; }
html body.folioStyleL3FontSize305px span, body.folioStyleL3FontSize305px span { font-size: 30.5px !important; }
html body.folioStyleL4FontSize305px , body.folioStyleL4FontSize305px { font-size: 30.5px !important; }
html body.folioStyleL1FontSize33px p, body.folioStyleL1FontSize33px p { font-size: 33px !important; }
html body.folioStyleL2FontSize33px td, body.folioStyleL2FontSize33px td { font-size: 33px !important; }
html body.folioStyleL3FontSize33px span, body.folioStyleL3FontSize33px span { font-size: 33px !important; }
html body.folioStyleL4FontSize33px , body.folioStyleL4FontSize33px { font-size: 33px !important; }
html body.folioStyleL1FontSize355px p, body.folioStyleL1FontSize355px p { font-size: 35.5px !important; }
html body.folioStyleL2FontSize355px td, body.folioStyleL2FontSize355px td { font-size: 35.5px !important; }
html body.folioStyleL3FontSize355px span, body.folioStyleL3FontSize355px span { font-size: 35.5px !important; }
html body.folioStyleL4FontSize355px , body.folioStyleL4FontSize355px { font-size: 35.5px !important; }
html body.folioStyleL1FontWeight100 p, body.folioStyleL1FontWeight100 p { font-weight: 100 !important; }
html body.folioStyleL2FontWeight100 td, body.folioStyleL2FontWeight100 td { font-weight: 100 !important; }
html body.folioStyleL3FontWeight100 span, body.folioStyleL3FontWeight100 span { font-weight: 100 !important; }
html body.folioStyleL4FontWeight100 , body.folioStyleL4FontWeight100 { font-weight: 100 !important; }
html body.folioStyleL1FontWeight200 p, body.folioStyleL1FontWeight200 p { font-weight: 200 !important; }
html body.folioStyleL2FontWeight200 td, body.folioStyleL2FontWeight200 td { font-weight: 200 !important; }
html body.folioStyleL3FontWeight200 span, body.folioStyleL3FontWeight200 span { font-weight: 200 !important; }
html body.folioStyleL4FontWeight200 , body.folioStyleL4FontWeight200 { font-weight: 200 !important; }
html body.folioStyleL1FontWeight300 p, body.folioStyleL1FontWeight300 p { font-weight: 300 !important; }
html body.folioStyleL2FontWeight300 td, body.folioStyleL2FontWeight300 td { font-weight: 300 !important; }
html body.folioStyleL3FontWeight300 span, body.folioStyleL3FontWeight300 span { font-weight: 300 !important; }
html body.folioStyleL4FontWeight300 , body.folioStyleL4FontWeight300 { font-weight: 300 !important; }
html body.folioStyleL1FontWeight400 p, body.folioStyleL1FontWeight400 p { font-weight: 400 !important; }
html body.folioStyleL2FontWeight400 td, body.folioStyleL2FontWeight400 td { font-weight: 400 !important; }
html body.folioStyleL3FontWeight400 span, body.folioStyleL3FontWeight400 span { font-weight: 400 !important; }
html body.folioStyleL4FontWeight400 , body.folioStyleL4FontWeight400 { font-weight: 400 !important; }
html body.folioStyleL1FontWeight500 p, body.folioStyleL1FontWeight500 p { font-weight: 500 !important; }
html body.folioStyleL2FontWeight500 td, body.folioStyleL2FontWeight500 td { font-weight: 500 !important; }
html body.folioStyleL3FontWeight500 span, body.folioStyleL3FontWeight500 span { font-weight: 500 !important; }
html body.folioStyleL4FontWeight500 , body.folioStyleL4FontWeight500 { font-weight: 500 !important; }
html body.folioStyleL1FontWeight600 p, body.folioStyleL1FontWeight600 p { font-weight: 600 !important; }
html body.folioStyleL2FontWeight600 td, body.folioStyleL2FontWeight600 td { font-weight: 600 !important; }
html body.folioStyleL3FontWeight600 span, body.folioStyleL3FontWeight600 span { font-weight: 600 !important; }
html body.folioStyleL4FontWeight600 , body.folioStyleL4FontWeight600 { font-weight: 600 !important; }
html body.folioStyleL1FontWeight700 p, body.folioStyleL1FontWeight700 p { font-weight: 700 !important; }
html body.folioStyleL2FontWeight700 td, body.folioStyleL2FontWeight700 td { font-weight: 700 !important; }
html body.folioStyleL3FontWeight700 span, body.folioStyleL3FontWeight700 span { font-weight: 700 !important; }
html body.folioStyleL4FontWeight700 , body.folioStyleL4FontWeight700 { font-weight: 700 !important; }
html body.folioStyleL1FontWeight800 p, body.folioStyleL1FontWeight800 p { font-weight: 800 !important; }
html body.folioStyleL2FontWeight800 td, body.folioStyleL2FontWeight800 td { font-weight: 800 !important; }
html body.folioStyleL3FontWeight800 span, body.folioStyleL3FontWeight800 span { font-weight: 800 !important; }
html body.folioStyleL4FontWeight800 , body.folioStyleL4FontWeight800 { font-weight: 800 !important; }
html body.folioStyleL1FontWeight900 p, body.folioStyleL1FontWeight900 p { font-weight: 900 !important; }
html body.folioStyleL2FontWeight900 td, body.folioStyleL2FontWeight900 td { font-weight: 900 !important; }
html body.folioStyleL3FontWeight900 span, body.folioStyleL3FontWeight900 span { font-weight: 900 !important; }
html body.folioStyleL4FontWeight900 , body.folioStyleL4FontWeight900 { font-weight: 900 !important; }
html body.folioStyleL1LetterSpacing0 p, body.folioStyleL1LetterSpacing0 p { letter-spacing: 0.0em !important; --letter-spacing: 0.0em }
html body.folioStyleL2LetterSpacing0 td, body.folioStyleL2LetterSpacing0 td { letter-spacing: 0.0em !important; --letter-spacing: 0.0em }
html body.folioStyleL3LetterSpacing0 span, body.folioStyleL3LetterSpacing0 span { letter-spacing: 0.0em !important; --letter-spacing: 0.0em }
html body.folioStyleL4LetterSpacing0 , body.folioStyleL4LetterSpacing0 { letter-spacing: 0.0em !important; --letter-spacing: 0.0em }
html body.folioStyleL1LetterSpacing1 p, body.folioStyleL1LetterSpacing1 p { letter-spacing: 0.02em !important; --letter-spacing: 0.02em }
html body.folioStyleL2LetterSpacing1 td, body.folioStyleL2LetterSpacing1 td { letter-spacing: 0.02em !important; --letter-spacing: 0.02em }
html body.folioStyleL3LetterSpacing1 span, body.folioStyleL3LetterSpacing1 span { letter-spacing: 0.02em !important; --letter-spacing: 0.02em }
html body.folioStyleL4LetterSpacing1 , body.folioStyleL4LetterSpacing1 { letter-spacing: 0.02em !important; --letter-spacing: 0.02em }
html body.folioStyleL1LetterSpacing2 p, body.folioStyleL1LetterSpacing2 p { letter-spacing: 0.04em !important; --letter-spacing: 0.04em }
html body.folioStyleL2LetterSpacing2 td, body.folioStyleL2LetterSpacing2 td { letter-spacing: 0.04em !important; --letter-spacing: 0.04em }
html body.folioStyleL3LetterSpacing2 span, body.folioStyleL3LetterSpacing2 span { letter-spacing: 0.04em !important; --letter-spacing: 0.04em }
html body.folioStyleL4LetterSpacing2 , body.folioStyleL4LetterSpacing2 { letter-spacing: 0.04em !important; --letter-spacing: 0.04em }
html body.folioStyleL1LetterSpacing3 p, body.folioStyleL1LetterSpacing3 p { letter-spacing: 0.06em !important; --letter-spacing: 0.06em }
html body.folioStyleL2LetterSpacing3 td, body.folioStyleL2LetterSpacing3 td { letter-spacing: 0.06em !important; --letter-spacing: 0.06em }
html body.folioStyleL3LetterSpacing3 span, body.folioStyleL3LetterSpacing3 span { letter-spacing: 0.06em !important; --letter-spacing: 0.06em }
html body.folioStyleL4LetterSpacing3 , body.folioStyleL4LetterSpacing3 { letter-spacing: 0.06em !important; --letter-spacing: 0.06em }
html body.folioStyleL1LetterSpacing4 p, body.folioStyleL1LetterSpacing4 p { letter-spacing: 0.08em !important; --letter-spacing: 0.08em }
html body.folioStyleL2LetterSpacing4 td, body.folioStyleL2LetterSpacing4 td { letter-spacing: 0.08em !important; --letter-spacing: 0.08em }
html body.folioStyleL3LetterSpacing4 span, body.folioStyleL3LetterSpacing4 span { letter-spacing: 0.08em !important; --letter-spacing: 0.08em }
html body.folioStyleL4LetterSpacing4 , body.folioStyleL4LetterSpacing4 { letter-spacing: 0.08em !important; --letter-spacing: 0.08em }
html body.folioStyleL1LetterSpacing5 p, body.folioStyleL1LetterSpacing5 p { letter-spacing: 0.1em !important; --letter-spacing: 0.1em }
html body.folioStyleL2LetterSpacing5 td, body.folioStyleL2LetterSpacing5 td { letter-spacing: 0.1em !important; --letter-spacing: 0.1em }
html body.folioStyleL3LetterSpacing5 span, body.folioStyleL3LetterSpacing5 span { letter-spacing: 0.1em !important; --letter-spacing: 0.1em }
html body.folioStyleL4LetterSpacing5 , body.folioStyleL4LetterSpacing5 { letter-spacing: 0.1em !important; --letter-spacing: 0.1em }
html body.folioStyleL1LetterSpacing6 p, body.folioStyleL1LetterSpacing6 p { letter-spacing: 0.12em !important; --letter-spacing: 0.12em }
html body.folioStyleL2LetterSpacing6 td, body.folioStyleL2LetterSpacing6 td { letter-spacing: 0.12em !important; --letter-spacing: 0.12em }
html body.folioStyleL3LetterSpacing6 span, body.folioStyleL3LetterSpacing6 span { letter-spacing: 0.12em !important; --letter-spacing: 0.12em }
html body.folioStyleL4LetterSpacing6 , body.folioStyleL4LetterSpacing6 { letter-spacing: 0.12em !important; --letter-spacing: 0.12em }
html body.folioStyleL1LetterSpacing7 p, body.folioStyleL1LetterSpacing7 p { letter-spacing: 0.14em !important; --letter-spacing: 0.14em }
html body.folioStyleL2LetterSpacing7 td, body.folioStyleL2LetterSpacing7 td { letter-spacing: 0.14em !important; --letter-spacing: 0.14em }
html body.folioStyleL3LetterSpacing7 span, body.folioStyleL3LetterSpacing7 span { letter-spacing: 0.14em !important; --letter-spacing: 0.14em }
html body.folioStyleL4LetterSpacing7 , body.folioStyleL4LetterSpacing7 { letter-spacing: 0.14em !important; --letter-spacing: 0.14em }
html body.folioStyleL1LetterSpacing8 p, body.folioStyleL1LetterSpacing8 p { letter-spacing: 0.16em !important; --letter-spacing: 0.16em }
html body.folioStyleL2LetterSpacing8 td, body.folioStyleL2LetterSpacing8 td { letter-spacing: 0.16em !important; --letter-spacing: 0.16em }
html body.folioStyleL3LetterSpacing8 span, body.folioStyleL3LetterSpacing8 span { letter-spacing: 0.16em !important; --letter-spacing: 0.16em }
html body.folioStyleL4LetterSpacing8 , body.folioStyleL4LetterSpacing8 { letter-spacing: 0.16em !important; --letter-spacing: 0.16em }
html body.folioStyleL1LetterSpacing9 p, body.folioStyleL1LetterSpacing9 p { letter-spacing: 0.18em !important; --letter-spacing: 0.18em }
html body.folioStyleL2LetterSpacing9 td, body.folioStyleL2LetterSpacing9 td { letter-spacing: 0.18em !important; --letter-spacing: 0.18em }
html body.folioStyleL3LetterSpacing9 span, body.folioStyleL3LetterSpacing9 span { letter-spacing: 0.18em !important; --letter-spacing: 0.18em }
html body.folioStyleL4LetterSpacing9 , body.folioStyleL4LetterSpacing9 { letter-spacing: 0.18em !important; --letter-spacing: 0.18em }
html body.folioStyleL1LetterSpacing10 p, body.folioStyleL1LetterSpacing10 p { letter-spacing: 0.2em !important; --letter-spacing: 0.2em }
html body.folioStyleL2LetterSpacing10 td, body.folioStyleL2LetterSpacing10 td { letter-spacing: 0.2em !important; --letter-spacing: 0.2em }
html body.folioStyleL3LetterSpacing10 span, body.folioStyleL3LetterSpacing10 span { letter-spacing: 0.2em !important; --letter-spacing: 0.2em }
html body.folioStyleL4LetterSpacing10 , body.folioStyleL4LetterSpacing10 { letter-spacing: 0.2em !important; --letter-spacing: 0.2em }
html body.folioStyleL1LineHeight0 p, body.folioStyleL1LineHeight0 p { line-height: 1.5 !important; }
html body.folioStyleL2LineHeight0 td, body.folioStyleL2LineHeight0 td { line-height: 1.5 !important; }
html body.folioStyleL3LineHeight0 span, body.folioStyleL3LineHeight0 span { line-height: 1.5 !important; }
html body.folioStyleL4LineHeight0 , body.folioStyleL4LineHeight0 { line-height: 1.5 !important; }
html body.folioStyleL1MarginH0 p, body.folioStyleL1MarginH0 p { margin-top: 1em; margin-bottom: 0.5em; }
html body.folioStyleL2MarginH0 td, body.folioStyleL2MarginH0 td { margin-top: 1em; margin-bottom: 0.5em; }
html body.folioStyleL3MarginH0 span, body.folioStyleL3MarginH0 span { margin-top: 1em; margin-bottom: 0.5em; }
html body.folioStyleL4MarginH0 , body.folioStyleL4MarginH0 { margin-top: 1em; margin-bottom: 0.5em; }
html body.folioStyleL1MarginV0 p, body.folioStyleL1MarginV0 p { margin-right: 0em; margin-left: 0.25em; }
html body.folioStyleL2MarginV0 td, body.folioStyleL2MarginV0 td { margin-right: 0em; margin-left: 0.25em; }
html body.folioStyleL3MarginV0 span, body.folioStyleL3MarginV0 span { margin-right: 0em; margin-left: 0.25em; }
html body.folioStyleL4MarginV0 , body.folioStyleL4MarginV0 { margin-right: 0em; margin-left: 0.25em; }
html body.folioStyleL1LineHeight1 p, body.folioStyleL1LineHeight1 p { line-height: 1.55 !important; }
html body.folioStyleL2LineHeight1 td, body.folioStyleL2LineHeight1 td { line-height: 1.55 !important; }
html body.folioStyleL3LineHeight1 span, body.folioStyleL3LineHeight1 span { line-height: 1.55 !important; }
html body.folioStyleL4LineHeight1 , body.folioStyleL4LineHeight1 { line-height: 1.55 !important; }
html body.folioStyleL1MarginH1 p, body.folioStyleL1MarginH1 p { margin-top: 1em; margin-bottom: 0.55em; }
html body.folioStyleL2MarginH1 td, body.folioStyleL2MarginH1 td { margin-top: 1em; margin-bottom: 0.55em; }
html body.folioStyleL3MarginH1 span, body.folioStyleL3MarginH1 span { margin-top: 1em; margin-bottom: 0.55em; }
html body.folioStyleL4MarginH1 , body.folioStyleL4MarginH1 { margin-top: 1em; margin-bottom: 0.55em; }
html body.folioStyleL1MarginV1 p, body.folioStyleL1MarginV1 p { margin-right: 0em; margin-left: 0.275em; }
html body.folioStyleL2MarginV1 td, body.folioStyleL2MarginV1 td { margin-right: 0em; margin-left: 0.275em; }
html body.folioStyleL3MarginV1 span, body.folioStyleL3MarginV1 span { margin-right: 0em; margin-left: 0.275em; }
html body.folioStyleL4MarginV1 , body.folioStyleL4MarginV1 { margin-right: 0em; margin-left: 0.275em; }
html body.folioStyleL1LineHeight2 p, body.folioStyleL1LineHeight2 p { line-height: 1.6 !important; }
html body.folioStyleL2LineHeight2 td, body.folioStyleL2LineHeight2 td { line-height: 1.6 !important; }
html body.folioStyleL3LineHeight2 span, body.folioStyleL3LineHeight2 span { line-height: 1.6 !important; }
html body.folioStyleL4LineHeight2 , body.folioStyleL4LineHeight2 { line-height: 1.6 !important; }
html body.folioStyleL1MarginH2 p, body.folioStyleL1MarginH2 p { margin-top: 1em; margin-bottom: 0.6em; }
html body.folioStyleL2MarginH2 td, body.folioStyleL2MarginH2 td { margin-top: 1em; margin-bottom: 0.6em; }
html body.folioStyleL3MarginH2 span, body.folioStyleL3MarginH2 span { margin-top: 1em; margin-bottom: 0.6em; }
html body.folioStyleL4MarginH2 , body.folioStyleL4MarginH2 { margin-top: 1em; margin-bottom: 0.6em; }
html body.folioStyleL1MarginV2 p, body.folioStyleL1MarginV2 p { margin-right: 0em; margin-left: 0.3em; }
html body.folioStyleL2MarginV2 td, body.folioStyleL2MarginV2 td { margin-right: 0em; margin-left: 0.3em; }
html body.folioStyleL3MarginV2 span, body.folioStyleL3MarginV2 span { margin-right: 0em; margin-left: 0.3em; }
html body.folioStyleL4MarginV2 , body.folioStyleL4MarginV2 { margin-right: 0em; margin-left: 0.3em; }
html body.folioStyleL1LineHeight3 p, body.folioStyleL1LineHeight3 p { line-height: 1.65 !important; }
html body.folioStyleL2LineHeight3 td, body.folioStyleL2LineHeight3 td { line-height: 1.65 !important; }
html body.folioStyleL3LineHeight3 span, body.folioStyleL3LineHeight3 span { line-height: 1.65 !important; }
html body.folioStyleL4LineHeight3 , body.folioStyleL4LineHeight3 { line-height: 1.65 !important; }
html body.folioStyleL1MarginH3 p, body.folioStyleL1MarginH3 p { margin-top: 1em; margin-bottom: 0.65em; }
html body.folioStyleL2MarginH3 td, body.folioStyleL2MarginH3 td { margin-top: 1em; margin-bottom: 0.65em; }
html body.folioStyleL3MarginH3 span, body.folioStyleL3MarginH3 span { margin-top: 1em; margin-bottom: 0.65em; }
html body.folioStyleL4MarginH3 , body.folioStyleL4MarginH3 { margin-top: 1em; margin-bottom: 0.65em; }
html body.folioStyleL1MarginV3 p, body.folioStyleL1MarginV3 p { margin-right: 0em; margin-left: 0.325em; }
html body.folioStyleL2MarginV3 td, body.folioStyleL2MarginV3 td { margin-right: 0em; margin-left: 0.325em; }
html body.folioStyleL3MarginV3 span, body.folioStyleL3MarginV3 span { margin-right: 0em; margin-left: 0.325em; }
html body.folioStyleL4MarginV3 , body.folioStyleL4MarginV3 { margin-right: 0em; margin-left: 0.325em; }
html body.folioStyleL1LineHeight4 p, body.folioStyleL1LineHeight4 p { line-height: 1.7 !important; }
html body.folioStyleL2LineHeight4 td, body.folioStyleL2LineHeight4 td { line-height: 1.7 !important; }
html body.folioStyleL3LineHeight4 span, body.folioStyleL3LineHeight4 span { line-height: 1.7 !important; }
html body.folioStyleL4LineHeight4 , body.folioStyleL4LineHeight4 { line-height: 1.7 !important; }
html body.folioStyleL1MarginH4 p, body.folioStyleL1MarginH4 p { margin-top: 1em; margin-bottom: 0.7em; }
html body.folioStyleL2MarginH4 td, body.folioStyleL2MarginH4 td { margin-top: 1em; margin-bottom: 0.7em; }
html body.folioStyleL3MarginH4 span, body.folioStyleL3MarginH4 span { margin-top: 1em; margin-bottom: 0.7em; }
html body.folioStyleL4MarginH4 , body.folioStyleL4MarginH4 { margin-top: 1em; margin-bottom: 0.7em; }
html body.folioStyleL1MarginV4 p, body.folioStyleL1MarginV4 p { margin-right: 0em; margin-left: 0.35em; }
html body.folioStyleL2MarginV4 td, body.folioStyleL2MarginV4 td { margin-right: 0em; margin-left: 0.35em; }
html body.folioStyleL3MarginV4 span, body.folioStyleL3MarginV4 span { margin-right: 0em; margin-left: 0.35em; }
html body.folioStyleL4MarginV4 , body.folioStyleL4MarginV4 { margin-right: 0em; margin-left: 0.35em; }
html body.folioStyleL1LineHeight5 p, body.folioStyleL1LineHeight5 p { line-height: 1.75 !important; }
html body.folioStyleL2LineHeight5 td, body.folioStyleL2LineHeight5 td { line-height: 1.75 !important; }
html body.folioStyleL3LineHeight5 span, body.folioStyleL3LineHeight5 span { line-height: 1.75 !important; }
html body.folioStyleL4LineHeight5 , body.folioStyleL4LineHeight5 { line-height: 1.75 !important; }
html body.folioStyleL1MarginH5 p, body.folioStyleL1MarginH5 p { margin-top: 1em; margin-bottom: 0.75em; }
html body.folioStyleL2MarginH5 td, body.folioStyleL2MarginH5 td { margin-top: 1em; margin-bottom: 0.75em; }
html body.folioStyleL3MarginH5 span, body.folioStyleL3MarginH5 span { margin-top: 1em; margin-bottom: 0.75em; }
html body.folioStyleL4MarginH5 , body.folioStyleL4MarginH5 { margin-top: 1em; margin-bottom: 0.75em; }
html body.folioStyleL1MarginV5 p, body.folioStyleL1MarginV5 p { margin-right: 0em; margin-left: 0.375em; }
html body.folioStyleL2MarginV5 td, body.folioStyleL2MarginV5 td { margin-right: 0em; margin-left: 0.375em; }
html body.folioStyleL3MarginV5 span, body.folioStyleL3MarginV5 span { margin-right: 0em; margin-left: 0.375em; }
html body.folioStyleL4MarginV5 , body.folioStyleL4MarginV5 { margin-right: 0em; margin-left: 0.375em; }
html body.folioStyleL1LineHeight6 p, body.folioStyleL1LineHeight6 p { line-height: 1.8 !important; }
html body.folioStyleL2LineHeight6 td, body.folioStyleL2LineHeight6 td { line-height: 1.8 !important; }
html body.folioStyleL3LineHeight6 span, body.folioStyleL3LineHeight6 span { line-height: 1.8 !important; }
html body.folioStyleL4LineHeight6 , body.folioStyleL4LineHeight6 { line-height: 1.8 !important; }
html body.folioStyleL1MarginH6 p, body.folioStyleL1MarginH6 p { margin-top: 1em; margin-bottom: 0.8em; }
html body.folioStyleL2MarginH6 td, body.folioStyleL2MarginH6 td { margin-top: 1em; margin-bottom: 0.8em; }
html body.folioStyleL3MarginH6 span, body.folioStyleL3MarginH6 span { margin-top: 1em; margin-bottom: 0.8em; }
html body.folioStyleL4MarginH6 , body.folioStyleL4MarginH6 { margin-top: 1em; margin-bottom: 0.8em; }
html body.folioStyleL1MarginV6 p, body.folioStyleL1MarginV6 p { margin-right: 0em; margin-left: 0.4em; }
html body.folioStyleL2MarginV6 td, body.folioStyleL2MarginV6 td { margin-right: 0em; margin-left: 0.4em; }
html body.folioStyleL3MarginV6 span, body.folioStyleL3MarginV6 span { margin-right: 0em; margin-left: 0.4em; }
html body.folioStyleL4MarginV6 , body.folioStyleL4MarginV6 { margin-right: 0em; margin-left: 0.4em; }
html body.folioStyleL1LineHeight7 p, body.folioStyleL1LineHeight7 p { line-height: 1.85 !important; }
html body.folioStyleL2LineHeight7 td, body.folioStyleL2LineHeight7 td { line-height: 1.85 !important; }
html body.folioStyleL3LineHeight7 span, body.folioStyleL3LineHeight7 span { line-height: 1.85 !important; }
html body.folioStyleL4LineHeight7 , body.folioStyleL4LineHeight7 { line-height: 1.85 !important; }
html body.folioStyleL1MarginH7 p, body.folioStyleL1MarginH7 p { margin-top: 1em; margin-bottom: 0.85em; }
html body.folioStyleL2MarginH7 td, body.folioStyleL2MarginH7 td { margin-top: 1em; margin-bottom: 0.85em; }
html body.folioStyleL3MarginH7 span, body.folioStyleL3MarginH7 span { margin-top: 1em; margin-bottom: 0.85em; }
html body.folioStyleL4MarginH7 , body.folioStyleL4MarginH7 { margin-top: 1em; margin-bottom: 0.85em; }
html body.folioStyleL1MarginV7 p, body.folioStyleL1MarginV7 p { margin-right: 0em; margin-left: 0.425em; }
html body.folioStyleL2MarginV7 td, body.folioStyleL2MarginV7 td { margin-right: 0em; margin-left: 0.425em; }
html body.folioStyleL3MarginV7 span, body.folioStyleL3MarginV7 span { margin-right: 0em; margin-left: 0.425em; }
html body.folioStyleL4MarginV7 , body.folioStyleL4MarginV7 { margin-right: 0em; margin-left: 0.425em; }
html body.folioStyleL1LineHeight8 p, body.folioStyleL1LineHeight8 p { line-height: 1.9 !important; }
html body.folioStyleL2LineHeight8 td, body.folioStyleL2LineHeight8 td { line-height: 1.9 !important; }
html body.folioStyleL3LineHeight8 span, body.folioStyleL3LineHeight8 span { line-height: 1.9 !important; }
html body.folioStyleL4LineHeight8 , body.folioStyleL4LineHeight8 { line-height: 1.9 !important; }
html body.folioStyleL1MarginH8 p, body.folioStyleL1MarginH8 p { margin-top: 1em; margin-bottom: 0.9em; }
html body.folioStyleL2MarginH8 td, body.folioStyleL2MarginH8 td { margin-top: 1em; margin-bottom: 0.9em; }
html body.folioStyleL3MarginH8 span, body.folioStyleL3MarginH8 span { margin-top: 1em; margin-bottom: 0.9em; }
html body.folioStyleL4MarginH8 , body.folioStyleL4MarginH8 { margin-top: 1em; margin-bottom: 0.9em; }
html body.folioStyleL1MarginV8 p, body.folioStyleL1MarginV8 p { margin-right: 0em; margin-left: 0.45em; }
html body.folioStyleL2MarginV8 td, body.folioStyleL2MarginV8 td { margin-right: 0em; margin-left: 0.45em; }
html body.folioStyleL3MarginV8 span, body.folioStyleL3MarginV8 span { margin-right: 0em; margin-left: 0.45em; }
html body.folioStyleL4MarginV8 , body.folioStyleL4MarginV8 { margin-right: 0em; margin-left: 0.45em; }
html body.folioStyleL1LineHeight9 p, body.folioStyleL1LineHeight9 p { line-height: 1.95 !important; }
html body.folioStyleL2LineHeight9 td, body.folioStyleL2LineHeight9 td { line-height: 1.95 !important; }
html body.folioStyleL3LineHeight9 span, body.folioStyleL3LineHeight9 span { line-height: 1.95 !important; }
html body.folioStyleL4LineHeight9 , body.folioStyleL4LineHeight9 { line-height: 1.95 !important; }
html body.folioStyleL1MarginH9 p, body.folioStyleL1MarginH9 p { margin-top: 1em; margin-bottom: 0.95em; }
html body.folioStyleL2MarginH9 td, body.folioStyleL2MarginH9 td { margin-top: 1em; margin-bottom: 0.95em; }
html body.folioStyleL3MarginH9 span, body.folioStyleL3MarginH9 span { margin-top: 1em; margin-bottom: 0.95em; }
html body.folioStyleL4MarginH9 , body.folioStyleL4MarginH9 { margin-top: 1em; margin-bottom: 0.95em; }
html body.folioStyleL1MarginV9 p, body.folioStyleL1MarginV9 p { margin-right: 0em; margin-left: 0.475em; }
html body.folioStyleL2MarginV9 td, body.folioStyleL2MarginV9 td { margin-right: 0em; margin-left: 0.475em; }
html body.folioStyleL3MarginV9 span, body.folioStyleL3MarginV9 span { margin-right: 0em; margin-left: 0.475em; }
html body.folioStyleL4MarginV9 , body.folioStyleL4MarginV9 { margin-right: 0em; margin-left: 0.475em; }
html body.folioStyleL1LineHeight10 p, body.folioStyleL1LineHeight10 p { line-height: 2 !important; }
html body.folioStyleL2LineHeight10 td, body.folioStyleL2LineHeight10 td { line-height: 2 !important; }
html body.folioStyleL3LineHeight10 span, body.folioStyleL3LineHeight10 span { line-height: 2 !important; }
html body.folioStyleL4LineHeight10 , body.folioStyleL4LineHeight10 { line-height: 2 !important; }
html body.folioStyleL1MarginH10 p, body.folioStyleL1MarginH10 p { margin-top: 1em; margin-bottom: 1em; }
html body.folioStyleL2MarginH10 td, body.folioStyleL2MarginH10 td { margin-top: 1em; margin-bottom: 1em; }
html body.folioStyleL3MarginH10 span, body.folioStyleL3MarginH10 span { margin-top: 1em; margin-bottom: 1em; }
html body.folioStyleL4MarginH10 , body.folioStyleL4MarginH10 { margin-top: 1em; margin-bottom: 1em; }
html body.folioStyleL1MarginV10 p, body.folioStyleL1MarginV10 p { margin-right: 0em; margin-left: 0.5em; }
html body.folioStyleL2MarginV10 td, body.folioStyleL2MarginV10 td { margin-right: 0em; margin-left: 0.5em; }
html body.folioStyleL3MarginV10 span, body.folioStyleL3MarginV10 span { margin-right: 0em; margin-left: 0.5em; }
html body.folioStyleL4MarginV10 , body.folioStyleL4MarginV10 { margin-right: 0em; margin-left: 0.5em; }
html body.folioStyleL1TextIndent0 p, body.folioStyleL1TextIndent0 p { text-indent: calc( (var(--letter-spacing) + 1em) * 4 ) hanging !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL2TextIndent0 td, body.folioStyleL2TextIndent0 td { text-indent: calc( (var(--letter-spacing) + 1em) * 4 ) hanging !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL3TextIndent0 span, body.folioStyleL3TextIndent0 span { text-indent: calc( (var(--letter-spacing) + 1em) * 4 ) hanging !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL4TextIndent0 , body.folioStyleL4TextIndent0 { text-indent: calc( (var(--letter-spacing) + 1em) * 4 ) hanging !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL1TextIndent1 p, body.folioStyleL1TextIndent1 p { text-indent: calc( (var(--letter-spacing) + 1em) * 3 ) hanging !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL2TextIndent1 td, body.folioStyleL2TextIndent1 td { text-indent: calc( (var(--letter-spacing) + 1em) * 3 ) hanging !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL3TextIndent1 span, body.folioStyleL3TextIndent1 span { text-indent: calc( (var(--letter-spacing) + 1em) * 3 ) hanging !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL4TextIndent1 , body.folioStyleL4TextIndent1 { text-indent: calc( (var(--letter-spacing) + 1em) * 3 ) hanging !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL1TextIndent2 p, body.folioStyleL1TextIndent2 p { text-indent: calc( (var(--letter-spacing) + 1em) * 2 ) hanging !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL2TextIndent2 td, body.folioStyleL2TextIndent2 td { text-indent: calc( (var(--letter-spacing) + 1em) * 2 ) hanging !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL3TextIndent2 span, body.folioStyleL3TextIndent2 span { text-indent: calc( (var(--letter-spacing) + 1em) * 2 ) hanging !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL4TextIndent2 , body.folioStyleL4TextIndent2 { text-indent: calc( (var(--letter-spacing) + 1em) * 2 ) hanging !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL1TextIndent3 p, body.folioStyleL1TextIndent3 p { text-indent: calc( (var(--letter-spacing) + 1em) * 1 ) hanging !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL2TextIndent3 td, body.folioStyleL2TextIndent3 td { text-indent: calc( (var(--letter-spacing) + 1em) * 1 ) hanging !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL3TextIndent3 span, body.folioStyleL3TextIndent3 span { text-indent: calc( (var(--letter-spacing) + 1em) * 1 ) hanging !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL4TextIndent3 , body.folioStyleL4TextIndent3 { text-indent: calc( (var(--letter-spacing) + 1em) * 1 ) hanging !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL1TextIndent4 p, body.folioStyleL1TextIndent4 p { text-indent: calc( (var(--letter-spacing) + 1em) * 0 )  !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL2TextIndent4 td, body.folioStyleL2TextIndent4 td { text-indent: calc( (var(--letter-spacing) + 1em) * 0 )  !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL3TextIndent4 span, body.folioStyleL3TextIndent4 span { text-indent: calc( (var(--letter-spacing) + 1em) * 0 )  !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL4TextIndent4 , body.folioStyleL4TextIndent4 { text-indent: calc( (var(--letter-spacing) + 1em) * 0 )  !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL1TextIndent5 p, body.folioStyleL1TextIndent5 p { text-indent: calc( (var(--letter-spacing) + 1em) * 1 )  !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL2TextIndent5 td, body.folioStyleL2TextIndent5 td { text-indent: calc( (var(--letter-spacing) + 1em) * 1 )  !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL3TextIndent5 span, body.folioStyleL3TextIndent5 span { text-indent: calc( (var(--letter-spacing) + 1em) * 1 )  !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL4TextIndent5 , body.folioStyleL4TextIndent5 { text-indent: calc( (var(--letter-spacing) + 1em) * 1 )  !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL1TextIndent6 p, body.folioStyleL1TextIndent6 p { text-indent: calc( (var(--letter-spacing) + 1em) * 2 )  !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL2TextIndent6 td, body.folioStyleL2TextIndent6 td { text-indent: calc( (var(--letter-spacing) + 1em) * 2 )  !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL3TextIndent6 span, body.folioStyleL3TextIndent6 span { text-indent: calc( (var(--letter-spacing) + 1em) * 2 )  !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL4TextIndent6 , body.folioStyleL4TextIndent6 { text-indent: calc( (var(--letter-spacing) + 1em) * 2 )  !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL1TextIndent7 p, body.folioStyleL1TextIndent7 p { text-indent: calc( (var(--letter-spacing) + 1em) * 3 )  !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL2TextIndent7 td, body.folioStyleL2TextIndent7 td { text-indent: calc( (var(--letter-spacing) + 1em) * 3 )  !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL3TextIndent7 span, body.folioStyleL3TextIndent7 span { text-indent: calc( (var(--letter-spacing) + 1em) * 3 )  !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL4TextIndent7 , body.folioStyleL4TextIndent7 { text-indent: calc( (var(--letter-spacing) + 1em) * 3 )  !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL1TextIndent8 p, body.folioStyleL1TextIndent8 p { text-indent: calc( (var(--letter-spacing) + 1em) * 4 )  !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL2TextIndent8 td, body.folioStyleL2TextIndent8 td { text-indent: calc( (var(--letter-spacing) + 1em) * 4 )  !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL3TextIndent8 span, body.folioStyleL3TextIndent8 span { text-indent: calc( (var(--letter-spacing) + 1em) * 4 )  !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL4TextIndent8 , body.folioStyleL4TextIndent8 { text-indent: calc( (var(--letter-spacing) + 1em) * 4 )  !important; text-align: justify !important; -webkit-hyphens: auto !important; }
html body.folioStyleL1TextIndent0 p img.folioImg, body.folioStyleL1TextIndent0 p img.folioImg { max-height: 96vh !important; max-width: 96vw !important; }
html body.folioStyleL2TextIndent0 td img.folioImg, body.folioStyleL2TextIndent0 td img.folioImg { max-height: 96vh !important; max-width: 96vw !important; }
html body.folioStyleL3TextIndent0 span img.folioImg, body.folioStyleL3TextIndent0 span img.folioImg { max-height: 96vh !important; max-width: 96vw !important; }
html body.folioStyleL4TextIndent0  img.folioImg, body.folioStyleL4TextIndent0 img.folioImg { max-height: 96vh !important; max-width: 96vw !important; }
html body.folioStyleL1TextIndent1 p img.folioImg, body.folioStyleL1TextIndent1 p img.folioImg { max-height: 94vh !important; max-width: 94vw !important; }
html body.folioStyleL2TextIndent1 td img.folioImg, body.folioStyleL2TextIndent1 td img.folioImg { max-height: 94vh !important; max-width: 94vw !important; }
html body.folioStyleL3TextIndent1 span img.folioImg, body.folioStyleL3TextIndent1 span img.folioImg { max-height: 94vh !important; max-width: 94vw !important; }
html body.folioStyleL4TextIndent1  img.folioImg, body.folioStyleL4TextIndent1 img.folioImg { max-height: 94vh !important; max-width: 94vw !important; }
html body.folioStyleL1TextIndent2 p img.folioImg, body.folioStyleL1TextIndent2 p img.folioImg { max-height: 92vh !important; max-width: 92vw !important; }
html body.folioStyleL2TextIndent2 td img.folioImg, body.folioStyleL2TextIndent2 td img.folioImg { max-height: 92vh !important; max-width: 92vw !important; }
html body.folioStyleL3TextIndent2 span img.folioImg, body.folioStyleL3TextIndent2 span img.folioImg { max-height: 92vh !important; max-width: 92vw !important; }
html body.folioStyleL4TextIndent2  img.folioImg, body.folioStyleL4TextIndent2 img.folioImg { max-height: 92vh !important; max-width: 92vw !important; }
html body.folioStyleL1TextIndent3 p img.folioImg, body.folioStyleL1TextIndent3 p img.folioImg { max-height: 90vh !important; max-width: 90vw !important; }
html body.folioStyleL2TextIndent3 td img.folioImg, body.folioStyleL2TextIndent3 td img.folioImg { max-height: 90vh !important; max-width: 90vw !important; }
html body.folioStyleL3TextIndent3 span img.folioImg, body.folioStyleL3TextIndent3 span img.folioImg { max-height: 90vh !important; max-width: 90vw !important; }
html body.folioStyleL4TextIndent3  img.folioImg, body.folioStyleL4TextIndent3 img.folioImg { max-height: 90vh !important; max-width: 90vw !important; }
html body.folioStyleL1TextIndent4 p img.folioImg, body.folioStyleL1TextIndent4 p img.folioImg { max-height: 88vh !important; max-width: 88vw !important; }
html body.folioStyleL2TextIndent4 td img.folioImg, body.folioStyleL2TextIndent4 td img.folioImg { max-height: 88vh !important; max-width: 88vw !important; }
html body.folioStyleL3TextIndent4 span img.folioImg, body.folioStyleL3TextIndent4 span img.folioImg { max-height: 88vh !important; max-width: 88vw !important; }
html body.folioStyleL4TextIndent4  img.folioImg, body.folioStyleL4TextIndent4 img.folioImg { max-height: 88vh !important; max-width: 88vw !important; }
html body.folioStyleL1TextIndent5 p img.folioImg, body.folioStyleL1TextIndent5 p img.folioImg { max-height: 86vh !important; max-width: 86vw !important; }
html body.folioStyleL2TextIndent5 td img.folioImg, body.folioStyleL2TextIndent5 td img.folioImg { max-height: 86vh !important; max-width: 86vw !important; }
html body.folioStyleL3TextIndent5 span img.folioImg, body.folioStyleL3TextIndent5 span img.folioImg { max-height: 86vh !important; max-width: 86vw !important; }
html body.folioStyleL4TextIndent5  img.folioImg, body.folioStyleL4TextIndent5 img.folioImg { max-height: 86vh !important; max-width: 86vw !important; }
html body.folioStyleL1TextIndent6 p img.folioImg, body.folioStyleL1TextIndent6 p img.folioImg { max-height: 84vh !important; max-width: 84vw !important; }
html body.folioStyleL2TextIndent6 td img.folioImg, body.folioStyleL2TextIndent6 td img.folioImg { max-height: 84vh !important; max-width: 84vw !important; }
html body.folioStyleL3TextIndent6 span img.folioImg, body.folioStyleL3TextIndent6 span img.folioImg { max-height: 84vh !important; max-width: 84vw !important; }
html body.folioStyleL4TextIndent6  img.folioImg, body.folioStyleL4TextIndent6 img.folioImg { max-height: 84vh !important; max-width: 84vw !important; }
html body.folioStyleL1TextIndent7 p img.folioImg, body.folioStyleL1TextIndent7 p img.folioImg { max-height: 82vh !important; max-width: 82vw !important; }
html body.folioStyleL2TextIndent7 td img.folioImg, body.folioStyleL2TextIndent7 td img.folioImg { max-height: 82vh !important; max-width: 82vw !important; }
html body.folioStyleL3TextIndent7 span img.folioImg, body.folioStyleL3TextIndent7 span img.folioImg { max-height: 82vh !important; max-width: 82vw !important; }
html body.folioStyleL4TextIndent7  img.folioImg, body.folioStyleL4TextIndent7 img.folioImg { max-height: 82vh !important; max-width: 82vw !important; }
html body.folioStyleL1TextIndent8 p img.folioImg, body.folioStyleL1TextIndent8 p img.folioImg { max-height: 80vh !important; max-width: 80vw !important; }
html body.folioStyleL2TextIndent8 td img.folioImg, body.folioStyleL2TextIndent8 td img.folioImg { max-height: 80vh !important; max-width: 80vw !important; }
html body.folioStyleL3TextIndent8 span img.folioImg, body.folioStyleL3TextIndent8 span img.folioImg { max-height: 80vh !important; max-width: 80vw !important; }
html body.folioStyleL4TextIndent8  img.folioImg, body.folioStyleL4TextIndent8 img.folioImg { max-height: 80vh !important; max-width: 80vw !important; }
.folioStyleBodyPaddingLeft0 { padding-left: 0.0vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingLeft1 { padding-left: 2.5vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingLeft2 { padding-left: 5.0vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingLeft3 { padding-left: 7.5vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingLeft4 { padding-left: 10.0vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingLeft5 { padding-left: 12.5vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingLeft6 { padding-left: 15.0vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingLeft7 { padding-left: 17.5vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingLeft8 { padding-left: 20.0vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingLeft9 { padding-left: 22.5vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingLeft10 { padding-left: 25.0vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingRight0 { padding-right: 0.0vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingRight1 { padding-right: 2.5vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingRight2 { padding-right: 5.0vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingRight3 { padding-right: 7.5vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingRight4 { padding-right: 10.0vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingRight5 { padding-right: 12.5vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingRight6 { padding-right: 15.0vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingRight7 { padding-right: 17.5vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingRight8 { padding-right: 20.0vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingRight9 { padding-right: 22.5vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingRight10 { padding-right: 25.0vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingTop0 { padding-top: 0.0vh !important;}
.folioStyleBodyPaddingTop1 { padding-top: 2.5vh !important;}
.folioStyleBodyPaddingTop2 { padding-top: 5.0vh !important;}
.folioStyleBodyPaddingTop3 { padding-top: 7.5vh !important;}
.folioStyleBodyPaddingTop4 { padding-top: 10.0vh !important;}
.folioStyleBodyPaddingTop5 { padding-top: 12.5vh !important;}
.folioStyleBodyPaddingTop6 { padding-top: 15.0vh !important;}
.folioStyleBodyPaddingTop7 { padding-top: 17.5vh !important;}
.folioStyleBodyPaddingTop8 { padding-top: 20.0vh !important;}
.folioStyleBodyPaddingTop9 { padding-top: 22.5vh !important;}
.folioStyleBodyPaddingTop10 { padding-top: 25.0vh !important;}
.folioStyleBodyPaddingBottom0 { padding-bottom: 0.0vh !important;}
.folioStyleBodyPaddingBottom1 { padding-bottom: 2.5vh !important;}
.folioStyleBodyPaddingBottom2 { padding-bottom: 5.0vh !important;}
.folioStyleBodyPaddingBottom3 { padding-bottom: 7.5vh !important;}
.folioStyleBodyPaddingBottom4 { padding-bottom: 10.0vh !important;}
.folioStyleBodyPaddingBottom5 { padding-bottom: 12.5vh !important;}
.folioStyleBodyPaddingBottom6 { padding-bottom: 15.0vh !important;}
.folioStyleBodyPaddingBottom7 { padding-bottom: 17.5vh !important;}
.folioStyleBodyPaddingBottom8 { padding-bottom: 20.0vh !important;}
.folioStyleBodyPaddingBottom9 { padding-bottom: 22.5vh !important;}
.folioStyleBodyPaddingBottom10 { padding-bottom: 25.0vh !important;}
.folioStyleBodyPaddingLeft0 img.folioImg { margin-left: -0.0vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingLeft1 img.folioImg { margin-left: -0.0vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingLeft2 img.folioImg { margin-left: -2.5vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingLeft3 img.folioImg { margin-left: -5.0vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingLeft4 img.folioImg { margin-left: -7.5vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingLeft5 img.folioImg { margin-left: -10.0vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingLeft6 img.folioImg { margin-left: -12.5vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingLeft7 img.folioImg { margin-left: -15.0vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingLeft8 img.folioImg { margin-left: -17.5vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingLeft9 img.folioImg { margin-left: -20.0vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingLeft10 img.folioImg { margin-left: -22.5vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingRight0 img.folioImg { margin-right: -0.0vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingRight1 img.folioImg { margin-right: -0.0vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingRight2 img.folioImg { margin-right: -2.5vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingRight3 img.folioImg { margin-right: -5.0vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingRight4 img.folioImg { margin-right: -7.5vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingRight5 img.folioImg { margin-right: -10.0vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingRight6 img.folioImg { margin-right: -12.5vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingRight7 img.folioImg { margin-right: -15.0vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingRight8 img.folioImg { margin-right: -17.5vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingRight9 img.folioImg { margin-right: -20.0vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingRight10 img.folioImg { margin-right: -22.5vw !important; overflow: hidden !important;}
.folioStyleBodyPaddingTop0 img.folioImg { margin-top: -0.0vh !important;}
.folioStyleBodyPaddingTop1 img.folioImg { margin-top: -0.0vh !important;}
.folioStyleBodyPaddingTop2 img.folioImg { margin-top: -2.5vh !important;}
.folioStyleBodyPaddingTop3 img.folioImg { margin-top: -5.0vh !important;}
.folioStyleBodyPaddingTop4 img.folioImg { margin-top: -7.5vh !important;}
.folioStyleBodyPaddingTop5 img.folioImg { margin-top: -10.0vh !important;}
.folioStyleBodyPaddingTop6 img.folioImg { margin-top: -12.5vh !important;}
.folioStyleBodyPaddingTop7 img.folioImg { margin-top: -15.0vh !important;}
.folioStyleBodyPaddingTop8 img.folioImg { margin-top: -17.5vh !important;}
.folioStyleBodyPaddingTop9 img.folioImg { margin-top: -20.0vh !important;}
.folioStyleBodyPaddingTop10 img.folioImg { margin-top: -22.5vh !important;}
.folioStyleBodyPaddingBottom0 img.folioImg { margin-bottom: -0.0vh !important;}
.folioStyleBodyPaddingBottom1 img.folioImg { margin-bottom: -0.0vh !important;}
.folioStyleBodyPaddingBottom2 img.folioImg { margin-bottom: -2.5vh !important;}
.folioStyleBodyPaddingBottom3 img.folioImg { margin-bottom: -5.0vh !important;}
.folioStyleBodyPaddingBottom4 img.folioImg { margin-bottom: -7.5vh !important;}
.folioStyleBodyPaddingBottom5 img.folioImg { margin-bottom: -10.0vh !important;}
.folioStyleBodyPaddingBottom6 img.folioImg { margin-bottom: -12.5vh !important;}
.folioStyleBodyPaddingBottom7 img.folioImg { margin-bottom: -15.0vh !important;}
.folioStyleBodyPaddingBottom8 img.folioImg { margin-bottom: -17.5vh !important;}
.folioStyleBodyPaddingBottom9 img.folioImg { margin-bottom: -20.0vh !important;}
.folioStyleBodyPaddingBottom10 img.folioImg { margin-bottom: -22.5vh !important;}
